.responsive-headline {
  position: relative;
  animation: move-text-color 0.75s forwards;
  bottom: -1em;
  opacity: 0;
}

@keyframes move-text-color {
  0% {
    bottom: -0.2em;
    opacity: 1;
    color: #3e5c76;
  }

  50% {
    bottom: 0.2em;
    color: #ec058e;
  }

  100% {
    bottom: 0;
    opacity: 1;
    color: #cb3126;
  }
}
